---
import { SUPPORT_EMAIL, SUPPORT_MAILTO } from '../config/site';

interface Props {
	subject?: string;
	body?: string;
}

const { subject, body } = Astro.props;

const params = new URLSearchParams();
if (subject) params.set('subject', subject);
if (body) params.set('body', body);
const query = params.toString();
const href = query ? `${SUPPORT_MAILTO}?${query}` : SUPPORT_MAILTO;
---

<a href={href}>{SUPPORT_EMAIL}</a>
